@import '../../../styles/settings.scss';

.root {
  text-align: center;
}

.main {
   color: white;
}

body {
   background-color: black;
}

.albatroz {
  font-family: $titleFont;
  font-size: 40px;
  background-color: lightsteelblue;
  position: relative;
  background: linear-gradient(to right, black, lightsteelblue, black);
  a {
    text-decoration: none;
    color: inherit;
  }
}

.bird {
  position: absolute;
  top: 8px;
  margin: 0 20px;
  width: 40px;
}
