@import '../../../styles/settings.scss';

// .root {

// }

.form {
  background:linear-gradient(to right, lightsteelblue, white, lightsteelblue);

}

.inputs {
  font-family: $mainFont;
  width: 100%;
}
